{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block object-tools-items %}
{{ block.super }}

{% if original and object_actions %}
    {% for action in object_actions %}
    <li>
        <a href="{% url opts|admin_urlname:action.name original.pk %}"
           class="{{ action.css_class }}"
           {% if action.confirm %}
           onclick="return confirm('{{ action.confirm|escapejs }}')"
           {% endif %}>
            {{ action.label }}
        </a>
    </li>
    {% endfor %}
{% endif %}
{% endblock %}
